
\.curseclient
*.jar
dirhtml\.lnk

reports/

mods/memory_repo/

correlated/

\.mixin\.out/

BotaniaVars\.dat

options\.txt

astralsorcery/

backups/

crash-reports/

logs/

questpacks/

woot/

knownkeys\.txt

usercache\.json

usernamecache\.json
